@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color: hsl(212 34% 17%);
    background-color: hsl(204 33% 98%);
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  * {
    @apply border-border;
  }

  body {
    @apply min-h-screen bg-background font-sans text-foreground;
  }

  #root {
    @apply min-h-screen;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
